<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISINOStockService" closeTimeout="00:10:00" receiveTimeout="00:10:00"
    sendTimeout="00:10:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="134217728" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:18008/SINOStockService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISINOStockService"
          contract="SINOStockService.ISINOStockService" name="BasicHttpBinding_ISINOStockService" />
    </client>
  </system.serviceModel>
  <appSettings>

    <add key="PortName" value="COM5"/>
    <add key="BaudRate" value="9600"/>
    <add key="DataBits" value="8"/>
    <add key="SerialNumber" value="1"/>
    <add key="SocketPort" value="9050"/>


    <!--公司名称-->
    <add key="CoLtdName" value="天津盛诺电子科技有限公司"/>
    <!--是否打印LOTNO  YES：打印   NO：不打印-->
    <add key="IsPrintLOTNO" value="NO"/>
    <!--需要打印的lOGO名称，名称为打印机记忆体中的图片名称-->
    <add key="LogoName" value="logo"/>
  </appSettings>
</configuration>